--extra-index-url https://download.pytorch.org/whl/cu124
carla==0.9.16
matplotlib==3.11.2
numpy 
opencv-python==5.0.0.93
pandas
pillow==12.3.0
psutil
torch==2.5.1+cu124
torchaudio==2.5.1+cu124
torchvision==0.20.1+cu124
ultralytics==8.4.165